Notepad++/config.xml
Notepad++/session.xml
Notepad++/session.xml.inCaseOfCorruption.bak
01_My_Learnings/02_Python/04_DL_PyTorch/dataset/fashion-mnist_train.csv

*.npy

.ipynb_checkpoints/
*/.ipynb_checkpoints/*
**/.ipynb_checkpoints/**
*-checkpoint.ipynb

*/catboost_info/*
**/catboost_info/**

/Notepad++/session.xml.inCaseOfCorruption.bak
06_Office_Related/01_NSO_work/05_AgriSoft_To_RC123/02_Notebooks/parent_directory/*
06_Office_Related/01_NSO_work/05_AgriSoft_To_RC123/02_Notebooks/parent_directory - Copy/*

*/credentials.json
**/credentials.json
*/token.pickle
**/token.pickle
